

<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Contacts</title>
		<meta name="description" content="form to add new books">
		<meta name="author" content="Mark Tyers">
		<link href="{{host}}/style.css" type="text/css" rel="stylesheet" />
		<script type="module" src="main.js"></script>
	</head>
	<body>
		<header>
		<h1>Pledge</h1>
		<a href="/logout">Log out</a>
		</header>
		{{#if msg}}
 			<aside>
				<p class="msg">{{msg}}</p>
			</aside>
		{{/if}}
		<main>
    <table>
    <tr><th>image</th><th>Name</th><th>Cause</th><th>Pledge</th><th>Fund</th><th>Deadline</th><th>Contacted</th>
    {{#each records}}
      <tr>
        <td><img src="avatar/{{this.image}}" /></td>
        <td>{{this.firstname}} {{this.lastname}}</td>
        <td>{{this.cause}}</td>
        <td>{{this.pledge}}</td>
        <td>{{this.fund}}</td>
        <td>{{this.deadline}}</td>
        <td>{{this.lastcontact}}</td>
     </tr>
   {{/each}}
</table>
		</main>
    <a class="add" href="/pledge/add">Add New Donor</a>
	</body>
</html>
